.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo img {
  height: 85px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: midnightblue;
}

.logo-text h1 {
  margin: 0;
  font-size: 30px;
}

.logo-text .alt-color {
  color:#FDB200;
}

.logo-text .subtitle {
  font-size: 12px;
  font-weight: bold;
}


.articles-section {
  max-width: 500px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article {
  border: 1px solid grey;
  margin: 2rem;
  padding: 2rem;
  width: 100%;
  align-self: stretch;
}

.TopBar {
  background-color:midnightblue;
  height: 10px;
  width: 100%;
}

.MainNav {
  background-color: midnightblue;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #ffb300;
}

.MainNav ul {
  list-style: none;
}

.MainNav ul li {
  display: inline-flex;
  padding: 0 1rem;
}

.TopicLink {
  color: white;
}

.footer {
  background-color: midnightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.article {
  cursor: pointer;
}

.SingleArticle {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 2rem;
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 5px solid midnightblue
}

.header-section {
  padding: 1rem 2rem;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.user-avatar {
  height: 60px;
}


.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logged-in-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logged-in-user span {
  margin-right: 1rem;
}

#logged-in-avatar {
  height: 60px;
  margin-right: 1rem;
}

/* rules for small screens */

@media only screen and (min-width: 700px) {
  .articles-section {
    max-width: unset;
    flex-wrap: wrap;
  }
  .article {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  .article {
    width: 20%;
    margin: 1rem;
  }
}