.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#logo img {
  height: 75px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
}

.logo-text h1 {
  margin: 0;
  font-size: 30px;
}

.logo-text .alt-color {
  color:#F1A208;
}

.logo-text .subtitle {
  font-size: 12px;
  font-weight: bold;
}


.articles-section {
  max-width: 500px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article {
  border: 1px solid grey;
  margin: 2rem;
  /* padding: 2rem; */
  width: 100%;
  align-self: stretch;
}

.MainNav {
  background-color: #003D5B;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #F1A208;
}

.MainNav ul {
  list-style: none;
}

.MainNav ul li {
  display: inline-flex;
  padding: 0 1rem;
  border-right: 1px solid white;
}

.MainNav ul li:last-of-type {
  border-right: none;
}



.TopicLink {
  color: white;
  text-decoration: none;
}

.TopicLink:hover {
  color: #F1A208;
}

.footer {
  background-color: #003D5B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  border-top: 5px solid #F1A208;
}

.article {
  cursor: pointer;
}

.SingleArticle {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 70%;
  margin: 2rem;
  padding: 2rem;
  text-align: left;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 5px solid #003D5B;
  background-color: #30638E;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.header-section {
  padding: 1rem 2rem;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  max-height: 65px;
}


.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logged-in-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#logged-in-user span {
  margin-right: 1rem;
}

.avatar-wrapper {
  background-color: white;
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

#logged-in-avatar {
  height: 100%;
}

.comments-section {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-bottom: 2rem;
}

.comment-card {
  border-top: 1px dotted darkblue;
  display: flex;
  padding: 1.5rem;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

.comment-card div {
  margin: 0 1rem;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.comment-card div:first-of-type {
  margin-left: 0;
  justify-content: flex-start;
}

.comment-card div:last-of-type {
  margin: 0;
  justify-content: flex-end;
}

.comment-author {
  width: 10%;
  flex-direction: column;
  align-items: flex-start;
}

.comment-author-name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.comment-author-date {
  margin:0
}

.comment-body {
  width: 60%;
}

.comment-votes {
  width: 10%;
}

.article-top {
  padding: 0 2rem;
}


.topicImageWrapper {
  max-height: 200px;
  overflow: hidden;
  background-color: black;
  color: white;
  position: relative;
}

.topicHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.topicHeading h3 {
  font-size: 30px;
}

.topicImageWrapper-single {
  max-height: 250px;
  margin-bottom: 0.5rem;
}

.SingleArticle h2 {
  margin: 0;
  font-size: 2rem;
}

.article-body {
  white-space: pre-wrap;
}

.topicImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
}

.date-published {
  margin-right: 1rem;
}


.article-info {
  margin: 1rem 0;
}

.article-top h3 {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}


/* rules for small screens */

@media only screen and (min-width: 700px) {
  .articles-section {
    max-width: unset;
    flex-wrap: wrap;
  }
  .article {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  .article {
    width: 28%;
    margin: 1rem;
  }
}
